$body-color: #333;
$body-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-size: 1.6rem !important;

$black: #000;
$light-gray: #eee;
$white: #fff;
$link: #428bca;
$primary: #7a34ff;
